:root { /* :root es el selector del elemento raíz (html). */
    --primary-color: #bf8850;/*Colores base para la pagina web guardados en variable */
    --secondary-color: #5b300e; /* Estas variables se pueden reutilizar con var(--primary-color). */
    --tercer-color: #3c2106;

}

.dashboardAdmin {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 1fr;
}

.card {
    margin: 1em;
}

.card-header {
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: whitesmoke;
}

.card-title, .card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}



