/* static/css/global.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px; 
}

body {
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    color: #343a40; /* Un color de texto oscuro principal, no negro puro */
    background-color: #f8f9fa; /* Fondo general un poco más claro */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Variables CSS personalizadas */
:root {
    --primary-color-hornero: #ff8c00; /* Naranja Hornero Cars */
    --secondary-color-hornero: #343a40; /* Gris oscuro Hornero Cars */
    --bs-primary-rgb: 255, 140, 0; /* Para que Bootstrap use nuestro naranja en componentes primarios */
    --bs-link-color-rgb: 255, 140, 0;
    --bs-link-hover-color-rgb: 230, 126, 0;

}

a {
    color: var(--primary-color-hornero);
    text-decoration: none;
}

a:hover {
    color: #e67e00; /* Naranja más oscuro para hover */
    text-decoration: none; /* Mantener sin subrayado o añadirlo si se prefiere */
}

/* Para que los botones primarios de Bootstrap tomen el color naranja */
.btn-primary {
    --bs-btn-bg: var(--primary-color-hornero);
    --bs-btn-border-color: var(--primary-color-hornero);
    --bs-btn-hover-bg: #e67e00;
    --bs-btn-hover-border-color: #e67e00;
    --bs-btn-active-bg: #cc7000;
    --bs-btn-active-border-color: #cc7000;
    --bs-btn-disabled-bg: var(--primary-color-hornero);
    --bs-btn-disabled-border-color: var(--primary-color-hornero);
    color: #fff; /* Texto blanco para botones naranjas */
}

.btn-outline-warning { /* Botón Cerrar Sesión */
    --bs-btn-color: var(--primary-color-hornero);
    --bs-btn-border-color: var(--primary-color-hornero);
    --bs-btn-hover-bg: var(--primary-color-hornero);
    --bs-btn-hover-border-color: var(--primary-color-hornero);
    --bs-btn-hover-color: #fff;
     --bs-btn-active-bg: #e67e00;
    --bs-btn-active-border-color: #e67e00;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500; 
    color: #212529; 
}