* {                         /*selecciona todos los elementos. */
    box-sizing: border-box;       /*hace que el padding y el border se incluyan dentro del ancho y alto total del elemento. 
                                        Evita desbordes y facilita diseño con medidas precisas. */  
}



body{
    background-color: #ffffff; /* Cambia el color de fondo del body (la página completa) a un gris muy claro. */
}

:root { /* :root es el selector del elemento raíz (html). */
    --primary-color: #bf8850;/*Colores base para la pagina web guardados en variable */
    --secondary-color: #5b300e; /* Estas variables se pueden reutilizar con var(--primary-color). */
    --tercer-color: #3c2106;
}

/*HEADER--------------------------------------------------------------------------------------------*/

/*--NAV-------------------------------------------------------------------*/

nav {
    z-index: 1000; /* El z index sirve para seleccionar cual etiqueta se visualiza por delante, 
                        el que tiene mas es el que se visualiza.
                         Z-INDEX: 1000 Define un nivel de apilamiento alto para que la barra 
                         esté por encima de otros elementos si se superponen.*/
    font-family: 'Segoe UI', sans-serif;
    
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
background-color: #222222;

    
}

nav ul {
    display: grid; /* convierte la lista en una grilla. */
    grid-template-columns: repeat(6, 1fr);  /* crea columnas flexibles de al menos 120px. */
    grid-template-rows: 120px; /* fija una altura de 120px para la fila. */
    justify-content: center; /* centra la grilla horizontalmente. */
    justify-items: center; /* centra el contenido dentro de cada celda. */
    list-style-type: none; /* elimina los puntos de las listas. */
    padding: 0; /* elimina el espaciado interior. */
    
}                       /* aplica un degradado suave como fondo de la barra. */

#imagen_Logo{
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor del logo. */
    grid-column: 1/2;
    padding-bottom: 5px;

}



#nosotros{
    grid-column: 2/3;
}

#informacion{
    grid-column: 3/4;
}

#reserva{
    grid-column: 4/5;
}


#sesion{
    grid-column: 6/7;
}



nav ul li {
    padding: 10px; /* agrega espacio alrededor de los elementos. */
    text-align: center; /* centra el texto horizontalmente. */
    line-height: 100px; /*configura el tamaño del texto verticalmente en 100px de alto. */
     width: 100%;
}

nav ul li a {
    text-decoration: none; /* elimina el subrayado de los enlaces. */
    color: #ffffff; /* usa el color primario definido antes. */
    white-space: nowrap; /* evita que el texto se divida en varias líneas. */
    font-size: 1.5em; /* agranda el texto (1.5 veces el tamaño base). */
    transition: color 0.3s ease;
}

nav ul li a:hover {
     color: #f78e34; /* Cambia el color del enlace al pasar el mouse (hover). */
    
}

nav ul li a:active {
    color: #26027a; /* Cambia el color cuando se hace clic (estado activo). */
}

.dropdown {
    position: relative; /* El contenedor .dropdown es posicionado relativamente (clave para posicionar el menú desplegable dentro). */
    display: inline-block; /* inline-block: permite que el contenedor se ajuste a su contenido, pero se comporte como bloque. */
}



.dropdown_Contenido {
    display: none; /* Oculta el elemento por defecto. La idea es que este menú solo se muestre cuando se active la clase show-dropdown. */
    position: absolute; /* Coloca el menú en una posición absoluta con respecto al primer elemento padre con posición relativa. */
background-color: #222222;
      /* Establece el color de fondo del dropdown */
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    border-radius: 4px;
    min-width: 160px; /* Define un ancho mínimo de 160 píxeles para el dropdown. */
    z-index: 1000; /* Define el índice de apilamiento, asegura que el dropdown se muestre por encima de elementos con un índice menor */
    top: 100%; /* Coloca el dropdown justo debajo del contenedor del elemento que lo activa. */
    left: 0; /* Alinea el dropdown a la izquierda del contenedor. */
    opacity: 0; /* Hace que el dropdown sea invisible al principio. */
    animation: fadeInDown 0.9s ease forwards; /* Agregar animación de desplazamiento */
    /* plica una animación llamada fadeInDown que dura 0.9 segundos, 
    con una aceleración ease, y la propiedad forwards mantiene el estado final de la animación (es decir, el menú visible). */
}

@keyframes fadeInDown { /* Define una animación llamada fadeInDown para el dropdown. */
    from { /* El estado inicial de la animación: */
        opacity: 0; /* El elemento es invisible al principio. */
        transform: translateY(-10px); /* El dropdown comienza 10 píxeles por encima de su posición original*/
    }
    to { /* El estado final de la animación: */
        opacity: 1; /* l dropdown se vuelve completamente visible */
        transform: translateY(0); /* El dropdown se mueve a su posición original*/
    }
}

.dropdown_Contenido a {
    color: #ffffff;
    transition: background-color 0.3s; /* Aplica el color de texto definido en una variable */
    padding: 12px 16px; /* Aplica un padding de 12 píxeles en el eje vertical y 16 píxeles en el eje horizontal */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces. */
    display: block; /*  Hace que los enlaces se comporten como bloques, ocupando toda la línea. */

}

.dropdown_Contenido a:hover {
    background-color: #f78e34;
    color: #222; /* Cambia el color de fondo del enlace a un gris claro cuando el cursor pasa sobre él. */
}

.dropdown:hover .dropdown_Contenido {
     /* Muestra el contenido del dropdown cuando el usuario pasa el cursor sobre el contenedor .dropdown. */
    display: inline-block; /* convierte la lista en una grilla. */
 width: 100%;
}

.sesion {
    color: #f78e34;
    transition: background-color 0.3s, color 0.3s;/* Establece un color de texto. */ 
    text-decoration: none; /* Elimina el subrayado por defecto del enlace. */
    cursor: pointer; /* Cambia el cursor a una mano, indicando que el elemento es clickeable. */
    font-size: 1.5em; /* Establece el tamaño de la fuente a 1.5 veces el tamaño de fuente predeterminado. */
    font-weight: bold; /* Hace que el texto sea en negrita. */
    border: 1px solid peru;
    border-radius: 6px;
}



.sesion:hover {
    background-color: #f78e34;
    color: #222222; /* Cambia el color del texto cuando el cursor pasa sobre el enlace. */
}

/*-- MODAL ----------------------------------------------------------*/

.modal {
  display: none; /* Necesario para centrar */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* Fondo negro semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

.modal-contenido img {
  display: block;
  margin: 0 auto 10px;
}


.modal-contenido {
background-color: #222222; /* Fondo negro */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  padding: 30px 20px;
  border-radius: 10px;
  width: 320px;
  position: relative;
  font-family: sans-serif;
  color: #fff; /* Texto blanco */
}

.modal-contenido h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f78e34; /* Color principal para el título */
}

.input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666; /* Línea gris */
  margin-bottom: 5px;
  padding: 5px 0;
}

.input-container i {
  margin-right: 10px;
  color: #f78e34; /* Ícono en color naranja */
}

.input-container input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 8px 0;
  color: #fff; /* Texto blanco */
}

.modal-contenido .sesionIncorrecta {
  color: #ff5c5c;
  font-size: 12px;
  visibility:hidden;
  height: 14px;
  margin-bottom: 10px;
}

.modal-contenido input {
  background-color: #111;
  color: white;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px 10px 10px 35px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

.modal-contenido input:focus {
  border-bottom: 2px solid #f78e34;
}

#inciarSesionBtn {
  background-color: #f78e34;
  color: white;
  border: none;
  padding: 10px;
  margin: 20px auto 10px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

#inciarSesionBtn:hover {
  background-color: #e66d0b;
}

.olvide {
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}

.olvide a {
  color: #ccc;
  text-decoration: none;
}

.olvide a:hover {
  text-decoration: underline;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #f78e34;
  cursor: pointer;
}

.crear-cuenta {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.crear-cuenta a {
  color: #f78e34;
  text-decoration: none;
  font-weight: bold;
}

.crear-cuenta a:hover {
  text-decoration: underline;
}



/*--FOOTER  ----------------------------------------------------------------------------------------------*/

footer {
    background-color: #f78e34;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-seccion {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}
.footer-seccion a{
text-decoration: none;
color: inherit;
}

.footer-seccion h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-seccion p,
.footer-seccion ul {
    margin: 0;
    padding: 0;
}

.footer-seccion ul {
    list-style-type: none;
}

.footer-seccion ul li {
    margin: 5px 0;
}

.footer-seccion ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-seccion ul li a:hover {
    text-decoration: underline;
}

.footer-seccion .footer-social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-seccion .footer-social a img {
    width: 24px;
    height: 24px;
}

.footer-boton {
    margin-top: 20px;
}

.footer-seccion.footer-social a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-seccion.footer-social a .fa-facebook {
    color: #3b5998; /* Color inicial de Facebook */
}

.footer-seccion.footer-social a .fa-twitter {
    color: #00acee; /* Color inicial de Twitter */
}

.footer-seccion.footer-social a .fa-instagram {
    color: #e4405f; /* Color inicial de Instagram */
}

.footer-seccion.footer-social a:hover .fa-facebook {
    color: #1d305e; /* Color de Facebook al pasar el ratón por encima */
}

.footer-seccion.footer-social a:hover .fa-twitter {
    color: #007bb5; /* Color de Twitter al pasar el ratón por encima */
}

.footer-seccion.footer-social a:hover .fa-instagram {
    color: #bc2a8d; /* Color de Instagram al pasar el ratón por encima */
}
