* {                         /*selecciona todos los elementos. */
    box-sizing: border-box;       /*hace que el padding y el border se incluyan dentro del ancho y alto total del elemento. 
                                        Evita desbordes y facilita diseño con medidas precisas. */  
}



body{
    background-color: #f7f7f7; /* Cambia el color de fondo del body (la página completa) a un gris muy claro. */
}

:root { /* :root es el selector del elemento raíz (html). */
    --primary-color: #5784c7;/*Colores base para la pagina web guardados en variable */
    --secondary-color: #195c7d; /* Estas variables se pueden reutilizar con var(--primary-color). */
}

/*HEADER--------------------------------------------------------------------------------------------*/

/*--NAV-------------------------------------------------------------------*/

nav {
    z-index: 1000; /* El z index sirve para seleccionar cual etiqueta se visualiza por delante, 
                        el que tiene mas es el que se visualiza.
                         Z-INDEX: 1000 Define un nivel de apilamiento alto para que la barra 
                         esté por encima de otros elementos si se superponen.*/
    
    
}

nav ul {
    display: grid; /* convierte la lista en una grilla. */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));  /* crea columnas flexibles de al menos 120px. */
    grid-template-rows: 120px; /* fija una altura de 120px para la fila. */
    justify-content: center; /* centra la grilla horizontalmente. */
    justify-items: center; /* centra el contenido dentro de cada celda. */
    list-style-type: none; /* elimina los puntos de las listas. */
    padding: 0; /* elimina el espaciado interior. */
    background-image: linear-gradient(to bottom right, rgba(213, 229, 238, 0.9), rgba(162, 227, 247, 0.444));
}                       /* aplica un degradado suave como fondo de la barra. */

#imagen_Logo{
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor del logo. */
}

nav ul li {
    padding: 10px; /* agrega espacio alrededor de los elementos. */
    text-align: center; /* centra el texto horizontalmente. */
    line-height: 100px; /*configura el tamaño del texto verticalmente en 100px de alto. */
}

nav ul li a {
    text-decoration: none; /* elimina el subrayado de los enlaces. */
    color: var(--primary-color); /* usa el color primario definido antes. */
    white-space: nowrap; /* evita que el texto se divida en varias líneas. */
    font-size: 1.5em; /* agranda el texto (1.5 veces el tamaño base). */
}

nav ul li a:hover {
    color: var(--secondary-color); /* Cambia el color del enlace al pasar el mouse (hover). */
    
}

nav ul li a:active {
    color: #26027a; /* Cambia el color cuando se hace clic (estado activo). */
}

.dropdown {
    position: relative; /* El contenedor .dropdown es posicionado relativamente (clave para posicionar el menú desplegable dentro). */
    display: inline-block; /* inline-block: permite que el contenedor se ajuste a su contenido, pero se comporte como bloque. */
}

.dropdown_Contenido {
    display: none; /* Oculta el elemento por defecto. La idea es que este menú solo se muestre cuando se active la clase show-dropdown. */
    position: absolute; /* Coloca el menú en una posición absoluta con respecto al primer elemento padre con posición relativa. */
    background-color: #f9f9f9; /* Establece el color de fondo del dropdown */
    min-width: 160px; /* Define un ancho mínimo de 160 píxeles para el dropdown. */
    z-index: 1000; /* Define el índice de apilamiento, asegura que el dropdown se muestre por encima de elementos con un índice menor */
    top: 100%; /* Coloca el dropdown justo debajo del contenedor del elemento que lo activa. */
    left: 0; /* Alinea el dropdown a la izquierda del contenedor. */
    opacity: 0; /* Hace que el dropdown sea invisible al principio. */
    animation: fadeInDown 0.9s ease forwards; /* Agregar animación de desplazamiento */
    /* plica una animación llamada fadeInDown que dura 0.9 segundos, 
    con una aceleración ease, y la propiedad forwards mantiene el estado final de la animación (es decir, el menú visible). */
}

@keyframes fadeInDown { /* Define una animación llamada fadeInDown para el dropdown. */
    from { /* El estado inicial de la animación: */
        opacity: 0; /* El elemento es invisible al principio. */
        transform: translateY(-10px); /* El dropdown comienza 10 píxeles por encima de su posición original*/
    }
    to { /* El estado final de la animación: */
        opacity: 1; /* l dropdown se vuelve completamente visible */
        transform: translateY(0); /* El dropdown se mueve a su posición original*/
    }
}

.show-dropdown .dropdown_Contenido {
    display: block;  /* Hace que el menú se muestre como un bloque (es decir, visible) */
}

.dropdown_Contenido a {
    color:var(--secondary-color); /* Aplica el color de texto definido en una variable */
    padding: 12px 16px; /* Aplica un padding de 12 píxeles en el eje vertical y 16 píxeles en el eje horizontal */
    text-decoration: none; /* Elimina el subrayado por defecto de los enlaces. */
    display: block; /*  Hace que los enlaces se comporten como bloques, ocupando toda la línea. */
}

.dropdown_Contenido a:hover {
    background-color: #f1f1f1; /* Cambia el color de fondo del enlace a un gris claro cuando el cursor pasa sobre él. */
}

.dropdown:hover .dropdown_Contenido {
    display: block; /* Muestra el contenido del dropdown cuando el usuario pasa el cursor sobre el contenedor .dropdown. */
}


.dropbtn{
    background-color:#29abe2; /* Establece un color de fondo para el botón. */
    color: #ffffff; /* Establece el color del texto */
    border: 1px solid #02577a; /* Aplica un borde de 1 píxel con un color al botón. */
}

.sesion {
    color: rgb(0, 18, 69); /* Establece un color de texto. */
    text-decoration: none; /* Elimina el subrayado por defecto del enlace. */
    cursor: pointer; /* Cambia el cursor a una mano, indicando que el elemento es clickeable. */
    font-size: 1.5em; /* Establece el tamaño de la fuente a 1.5 veces el tamaño de fuente predeterminado. */
    font-weight: bold; /* Hace que el texto sea en negrita. */
}

.sesion:hover {
    color: darkred; /* Cambia el color del texto cuando el cursor pasa sobre el enlace. */
}

/*-- MODAL ----------------------------------------------------------*/



/*--FOOTER  ----------------------------------------------------------------------------------------------*/


