body {
    background-color: beige;
}

.tarifas {
    align-items: center;
    display: grid;
    /* Habilitamos CSS Grid */
    /* Define las columnas de la rejilla:
               - repeat(auto-fit, ...): Crea tantas columnas como quepan.
               - minmax(280px, 1fr): Cada columna tendrá un mínimo de 280px
                                     y un máximo de 1 fracción del espacio disponible.
                                     Esto hace que las tarjetas se adapten y se
                                     ajusten a la siguiente línea si no hay espacio.
            */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* Espacio entre las tarjetas (tanto horizontal como vertical) */
    padding: 20px 0;
    /* Espacio vertical alrededor del grupo de tarjetas */
    justify-items: center;
    /* Centra las tarjetas si no ocupan todo el ancho de su celda */
}

.planas, .ofertas {
    text-align: center;
    padding: 15px;
    border: 2px rgba(0, 0, 0, 0.288) solid;
    transition: 0.4s linear;
    background-color: bisque;
}

.planas:hover {
    border-radius: 40px 40px 40px 40px;    
}

.ofertas:hover {
    box-shadow: 11px 11px 13px -5px rgba(0,0,0,0.31);    
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p, h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}