<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hornero Cars</title>
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <!--HEADER-->
    <header>
        <!--NAV-->
        <nav>
            <ul> <!-- Un navegador con listas, cuando hagamos el mapeo web seleccionamos cuales van y cuales sacar o agregar -->
                <li id="imagen_Logo">
                    <a href="../index.html" >
                        <img src="" height="110" alt="Hornero Cars"> <!-- Hay que hacer un logo de la empresa y ponerlo aca -->
                    </a>
                </li>
                <li class="dropdown">
                    <a href="nosotros.html">Nosotros</a>
                    <div class="dropdown_Contenido">
                        <a href="nosotros.html#nosotros">Sobre "Horneros Cars"</a>
                        <a href="nosotros.html#oficinas">Oficinas</a>
                        <a href="nosotros.html#contacto">Contacto</a>
                    </div>
                <li class="dropdown" >
                    <a href="informacion.html">Información</a>
                    <div class="dropdown_Contenido">
                        <a href="#vehiculos">Vehiculos</a>
                        <a href="#tarifas">Tarifas</a>
                        <a href="#requisitos">Requisitos</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="reserva.html">Hace tu reserva</a>
                </li>
                <!--Li vacio para poder jugar con el espacio en distintas medidas con display:none-->
                <li class="dropdown"> 
                    <a href=""></a>
                </li>
                <!--MODAL link a js-->
                <li class="dropdown">
                    <a href="" class="sesion">Iniciar Sesion</a>
               </li>
            </ul>
        </nav>
        <!-- MODAL --Aca puede ir un modal para poner contraseña y usuario al hacer click en iniciar sesion-->
    </header>
    <!--MAIN section banner index-->
    <main>  
        <section id="vehiculos" aria-label="Hornero Cars"> <!-- Aca para poner una foto de presentacion entre el nav y el footer -->
            <h2>Vehiculos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Suscipit sed tempore id. Placeat, deserunt. 
                Provident eum doloribus distinctio voluptas 
                natus excepturi culpa laudantium in adipisci 
                dignissimos? Excepturi pariatur labore recusandae?</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
        <section id="tarifas">
            <h2>Tarifas</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Quos a exercitationem totam et labore iste, est ullam,
                  magni hic, recusandae cum expedita temporibus vel autem
                   eveniet fugiat illo impedit. Maiores!</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
        <section id="requisitos">
            <h2>Requisitos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Totam tempora eaque error in nobis, voluptatem odio quos 
                necessitatibus doloribus earum praesentium ipsa voluptatibus 
                aliquam placeat, facere neque magni deserunt quae?</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </main>

    <!--FOOTER -->
    <footer>

    </footer>
    <!--SCRIPT links-->
    <script src=""></script>
    
</body>
</html>