<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/tarifas.css">
</head>

<body>
    <main>
        <h1>Tarifas</h1>
        <section class="tarifas">
            <div class="planas">
                <img src="" alt="">
                <h2>Básico</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Ver Detalles</button>
            </div>
            <div class="planas">
                <img src="" alt="">
                <h2>Medio</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Ver Detalles</button>
            </div>
            <div class="planas">
                <img src="" alt="">
                <h2>Grandes</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Ver Detalles</button>
            </div>
        </section>
            <h1>Ofertas</h1>
        <section class="tarifas">
            <div class="ofertas">
                <img src="" alt="">
                <h2>Turismo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Aprovechar Oferta</button>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h2>Seleccionados</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Aprovechar Oferta</button>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h2>Verano 2025</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Aprovechar Oferta</button>
            </div>
            <div class="ofertas">
                <img src="" alt="">
                <h2>Fiestas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et, ducimus assumenda accusamus dolorem consectetur nisi repellat, </p>
                <button>Aprovechar Oferta</button>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>